/* taskItem */
:root {
  --bg-red: #f24a4a;
  --bg-item-card: #2962d53a;
}

.taskItemCard {
  background-color: var(--bg-item-card);
  list-style: none;
  padding: 1.2em;
  border-radius: .3em;
  display: flex;
  flex-direction: column;
  gap: .4em;
  align-items: flex-start;
}

.taskItemDesc{
  font-weight: 500;
}

.taskItemBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.2em;
}

.taskItemDate{
  font-weight: 600;
}

.btnFinishTask {
  padding: .4em .65em;
  border: none;
  cursor: pointer;
  margin-top: .6em;
  border-radius: var(--border-radius);
  outline: none;
  background-color: var(--bg-red);
}