/* taskNavbar */
:root {
  --clr-white: #f1f1f1;
  --border-radius: .3em;
  --clr-red: #f24a4a;
  --border-clr: #1138d4;
  --bg-navbar: #d0d0d6;
  --bg-navbar-DK: #1f1f20;
  --bg-input-searh: #f1f1f1;
  --bg-input-searh-DK: #f1f1f1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8em 2em;
  backdrop-filter: blur(10px);
  background-color: var(--bg-navbar);
  border-bottom: 2px solid var(--border-clr);
}

.navBarModeDark{
  background-color: var(--bg-navbar-DK);
  color: var(--clr-white);
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: .5em;
}

.logo {
  width: 2.5em;
}

.logoText {
  font-weight: 500;
}

.taskManagerWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1em;
}

.inputTaskSearch {
  border: none;
  border-radius: var(--border-radius);
  padding: .6em .65em;
  outline: none;
  width: 18em;
  background-color: var(--bg-input-searh);
}

.inputTaskSearhModeDark{
  background-color: var(--bg-input-searh-DK);
}

.btnHandleMode{
  color: #1f1f20;
  font-size: 1em;
  cursor: pointer;
}

.btnHandleModeDK{
  color: var(--clr-white);
}

.btnModeDark:hover{
  transform: scale(1.1);
}

/* media queries */
@media screen and (max-width:668px) {
  .navbar{
    flex-direction: column;
    row-gap: 1.2em;
  }

  .taskManagerWrapper{
    width: 100%;
  }

  .inputTaskSeach {
    flex: 1;
  }
}